@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.login-page{
    margin-top:80px;
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #02083f 0%,
        #04107e 50%,
        #14005a 100%
    );
}

/* Main Container */

.login-container{
    width:100%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:100px;
    padding:30px;
}

/* Left Section */

.login-left-section{
    flex:1;
    max-width:380px;
    color:white;
}

.login-left-section h1{
    margin-top:50px;
    font-size:42px;
    line-height:1.2;
    margin-bottom:20px;
}

.login-left-section p{
    font-size:15px;
    color:#e0e0e0;
    line-height:1.7;
}

.login-illustration{
    position:relative;
    margin-top:30px;
    margin-left:50px;
    width:120px;
    height:120px;
    border:1px solid rgba(255,255,255,.15);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-student-icon{
    font-size:50px;
    color:white;
}

.login-features{
    margin-top:40px;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.login-feature-item{
    display:flex;
    align-items:center;
    gap:20px;
}

.login-feature-item svg{
    background:rgba(255,255,255,.1);
    padding:10px;
    border-radius:10px;
    font-size:40px;
}

.login-signup-text{
    margin-top:35px;
    color:white;
}

.login-signup-text span{
    color:#ffc107;
    font-weight:600;
    cursor:pointer;
}

/* Login Card */

.login-card{
    flex:1;
    width:100%;
    max-width:360px;
    background:white;
    border-radius:20px;
    padding:25px 30px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    margin-top:40px;
    height: 500px;
}

.login-card h2{
    font-size:28px;
    color:#072362;
    text-align:center;
    margin-bottom:5px;
}

.login-subtitle{
    text-align:center;
    color:#666;
    font-size:14px;
    margin-bottom:20px;
}

/* Input */

.login-input-group{
    margin-bottom:15px;
}

.login-input-group label{
    display:block;
    font-size:14px;
    margin-bottom:5px;
    color:#333;
    font-weight:500;
}

.login-input-box{
    height:40px;
    border:1px solid #ddd;
    border-radius:10px;
    padding:0 12px;
    display:flex;
    align-items:center;
    gap:8px;
    transition:.3s;
}

.login-input-box:focus-within{
    border-color:#041d7f;
}

.login-input-icon{
    color:#777;
    font-size:14px;
}

.login-input-box input{
    width:100%;
    border:none;
    outline:none;
    font-size:14px;
}

/* Forgot */

.login-forgot-password{
    text-align:right;
    margin-bottom:18px;
}


.login-forgot-password span{
  color:#1b5cff;
  cursor:pointer;
}

.login-forgot-password span:hover{
  text-decoration:underline;
}

/* Button */

.login-submit-btn{
    width:100%;
    height:40px;
    background:#041d7f;
    color:white;
    border:none;
    border-radius:10px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.login-submit-btn:hover{
    background:#0629a8;
}




/* Bottom */

.login-bottom-signup{
    text-align:center;
    margin-top:18px;
    color:#666;
    font-size:14px;
}

.login-bottom-signup span{
    color:#1b5cff;
    font-weight:600;
    cursor:pointer;
}

.login-bottom-signup span:hover{
    text-decoration:underline;
}

/* Responsive */

@media(max-width:1000px){

    .login-container{
        flex-direction:column;
        gap:50px;
    }

    .login-left-section{
        max-width:100%;
        text-align:center;
    }

    .login-illustration{
        margin:30px auto;
    }

    .login-card{
        max-width:500px;
        width:100%;
    }
}

@media(max-width:768px){

    .login-container{
        padding:20px;
    }

    .login-left-section h1{
        font-size:32px;
    }

    .login-card{
        padding:20px;
    }
}